#game {
  display: block;
  margin: auto;
}

#restart {
  display: block;
  margin: auto;
  width: 20%;
  height: 40px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.game-container {
  display: grid;
  align-items: center;
  justify-items: right;
  grid-column: 1 / 7;
}

.stats-container {
  display: grid;
  grid-column: 7/13;
}

#score {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: xx-large;
}
